@keyframes Slide {
   from {left: 0%;}
   to {left: 100%;}
}

#emoji {
   position: absolute;
   animation-name: Slide;
   animation-duration: 3s;
}

/*
**Part 3: Slide animation**
1. Create a "Slide" CSS animation for an emoji.
    - [x] Animate the emoji to slide from left-screen to right-screen
       - [x] Create a 'keyframes' block named 'Slide' that will change the position of an element from the left 
            side of the screen to the right.
         - [x] Use either the left or the right css property to achieve this 
      - [x] Create a style block for the "#emoji" id
        - [x] Set the position property to 'absolute'
        - [x] Bind the animation to the style block by setting the value of the 'animation'property to the name
             of the keyframes block you created and the amount of time the animation should take (Slide 3s)
*/